.pricing {
    padding-block:var(--padding_9) ;
}
.pricing-plans {
    gap: 80px;
}
.plan {
    overflow: hidden;
    padding: 40px;
    border: 2px solid var(--background-primary);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
}

.plan-heading {
    margin-bottom: 40px;
}
.plan-heading h3 {
    font-size: 8rem;
}
.plan button {
    border: 2px solid var(--background-primary);
    margin-block: 10px;
}
.plan li {margin-block: 2rem}
.plan li span {margin-left: 10px;}
.label-plan {
    background-color: #fcc419;
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
    padding-block: 5px;
    transform: rotate(45deg);
    right: -43px;
    top: 23px;
    width: fit-content;
    padding: 5px 41px;
}
@media (max-width:768px) {
    .pricing-plans{
        flex-direction: column;
    }
    .plan {
        width: fit-content;
        margin: auto;
    }
}
@media (max-width:375px) {
    .pricing-plans{
        gap: 15px;
    }
    .plan {
        width: fit-content;
        margin: auto;
        padding: 15px;
    }
}